---
import type { Props } from '@astrojs/starlight/props';
// import Default from '@astrojs/starlight/user-components/Aside.astro';
import Default from '@astrojs/starlight/components/Head.astro';
---

<span class='not-prose'>
  <Default {...Astro.props}>
    <slot />
  </Default>
</span>
