---
import type { Props } from '@astrojs/starlight/props';
---

<h1 id="_top" class="mt-4 max-w-[52ch] md:max-w-[43ch] lg:max-w-[43ch] text-xl md:text-2xl lg:text-5xl font-semibold text-[var(--sl-color-white)] relative after:content-[''] after:h-[2px] after:absolute after:left-0 after:right-0  after:-bottom-2 after:bg-accent-500 dark:after:bg-accent-500">
  {Astro.props.entry.data.title}
</h1>