---
import type { Props } from '@astrojs/starlight/props';
---

<h1 id="_top" class="mt-4 -mb-8 text-xl md:text-2xl lg:text-6xl font-semibold text-[var(--sl-color-white)]">
  {Astro.props.entry.data.title}
</h1>